<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
<h3>Akshay Sarkar - 1001506793</h3>

<div class="container">
Total TIme= {{ time }}
<table border="2px">
    <tr>
<td>NAME</td><td>CITY</td><td>STATE</td>
<td>AGE</td><td>LAT</td><td>LONG</td>
</tr>
    {% for obj in tableData %}
        <tr>
	<td>{{obj.GivenName}}</td>
<td>{{obj.City}}</td>
<td>{{obj.State}}</td>
<td>{{obj.Age}}</td>
<td>{{obj.Latitude}}</td>
<td>{{obj.Longitude}}</td>
	</tr>
    {% endfor %}
</table>

</div>
</body>
</html>